@import "_normalize";
@import "_fonts";
@import "_vars";
@import "_mixins";

[class*="__container"] {
  max-width: 128rem; // Ширина контейнера в макете + 15px * 2 из padding
  margin: 0rem auto;
  padding: 0rem 1.5rem; // Отступы безопасности для адаптива

  @media (max-width: 48rem) {
    max-width: 100%;
    width: 100%;
  }
}

.scroll-lock {
  overflow: hidden;
}

html {
  overflow-x: hidden;
}
html,
body {
  height: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  overflow-x: hidden;
}

main {
  flex: 1 0 auto;
  position: relative;
}

footer {
  flex: 0 0 auto;
}

.decor-left {
  position: absolute;
  left: 5.8rem;
  top: 76rem;
  width: 21.1rem;
  height: 217.1rem;
  svg {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 48rem) {
    display: none;
  }
}
.decor-right {
  position: absolute;
  right: 2.5rem;
  bottom: -5rem;
  width: 21.1rem;
  height: 217.1rem;
  svg {
    width: 100%;
    height: 100%;
  }
  @media (max-width: 48rem) {
    display: none;
  }
}

@import "block/components";
@import "block/header";
@import "block/navbar";
@import "block/mobile-menu";
@import "block/hero";
@import "block/platform";
@import "block/infrastructure";
@import "block/software";
@import "block/desktop";
@import "block/features";
@import "block/footer";
