.header {
  padding: 1.9rem 0rem 1.6rem 0rem;
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__logo {
  }
  &__menu {
  }
  &__btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.4rem;
  }
  &__btn {
  }
}
