section.hero
    .hero__decor
        <svg width="1920" height="212" viewBox="0 0 1920 212" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M1077.24 67.8098H1361.97V71.7777H1081.19L1077.24 67.8098Z" fill="#0F95F7"/>
            <path d="M1361.57 62.3343C1365.68 62.3343 1369 65.6672 1369 69.7937C1369 73.9203 1365.68 77.2532 1361.57 77.2532C1357.46 77.2532 1354.14 73.9203 1354.14 69.7937C1354.14 65.6672 1357.46 62.3343 1361.57 62.3343Z" fill="#0F95F7"/>
            <path d="M2060.3 201.842H1757.9L1696.63 140.341H1155.07L1082.77 67.7702L1079.96 70.5873L1153.41 144.309H1694.97L1756.24 205.81H2060.3V201.842Z" fill="#0F95F7"/>
            <path d="M2059.94 196.407C2064.05 196.407 2067.37 199.739 2067.37 203.866C2067.37 207.993 2064.05 211.325 2059.94 211.325C2055.83 211.325 2052.51 207.993 2052.51 203.866C2052.51 199.739 2055.83 196.407 2059.94 196.407Z" fill="#0F95F7"/>
            <path class="decor-hide" d="M716.963 64.4769L714.196 61.6597L687.79 88.1647H588.966L508.602 168.83H79.8635V172.798H510.223L590.626 92.1325H689.45L716.963 64.4769Z" fill="#0F95F7"/>
            <path class="decor-hide" d="M710.045 58.3268C712.931 55.4303 717.635 55.4303 720.56 58.3268C723.445 61.2233 723.445 65.945 720.56 68.8812C717.674 71.8173 712.97 71.7777 710.045 68.8812C707.159 65.9847 707.159 61.263 710.045 58.3268Z" fill="#0F95F7"/>
            <path d="M1213.65 187.955H1113.84L1066.4 140.341H939.238L877.967 201.842H786.733L754.121 169.108H401.318V173.076H752.46L785.072 205.81H879.627L940.898 144.309H1064.74L1112.18 191.923H1213.65V187.955Z" fill="#0F95F7"/>
            <path d="M1213.3 182.48C1217.41 182.48 1220.73 185.812 1220.73 189.939C1220.73 194.066 1217.41 197.398 1213.3 197.398C1209.19 197.398 1205.87 194.066 1205.87 189.939C1205.87 185.812 1209.19 182.48 1213.3 182.48Z" fill="#0F95F7"/>
            <path d="M420.886 206.524L387.285 172.798H-4.84863L-0.895508 168.83H388.906L422.506 202.557H509.511V206.524H420.886Z" fill="#0F95F7"/>
            <path d="M509.116 197.081C513.227 197.081 516.547 200.414 516.547 204.541C516.547 208.667 513.227 212 509.116 212C505.005 212 501.684 208.667 501.684 204.541C501.684 200.414 505.005 197.081 509.116 197.081Z" fill="#0F95F7"/>
            <path d="M1215.04 144.309H1060.44L1056.48 140.341H1216.66L1272 195.891H1640.97V199.859H1270.38L1215.04 144.309Z" fill="#0F95F7"/>
            <path d="M1640.61 190.415C1644.72 190.415 1648.04 193.748 1648.04 197.875C1648.04 202.001 1644.72 205.334 1640.61 205.334C1636.5 205.334 1633.18 202.001 1633.18 197.875C1633.18 193.748 1636.5 190.415 1640.61 190.415Z" fill="#0F95F7"/>
            <path d="M2163.08 5.47558L1953.25 5.4359L1884.71 74.2377H1565.86L1498.82 141.532L1501.63 144.309L1567.48 78.2055H1886.37L1954.87 9.40371L2163.08 9.44339V5.47558Z" fill="#0F95F7"/>
            <path d="M2162.72 0C2166.83 0 2170.15 3.33296 2170.15 7.45948C2170.15 11.586 2166.83 14.919 2162.72 14.919C2158.61 14.919 2155.29 11.586 2155.29 7.45948C2155.29 3.33296 2158.61 0 2162.72 0Z" fill="#0F95F7"/>
            <path class="decor-hide" d="M891.367 106.615H735.542L673.282 169.108H486.347V173.076H674.943L737.202 110.583H891.367V106.615Z" fill="#0F95F7"/>
            <path class="decor-hide" d="M891.012 101.139C895.123 101.139 898.443 104.472 898.443 108.599C898.443 112.725 895.123 116.058 891.012 116.058C886.901 116.058 883.58 112.725 883.58 108.599C883.58 104.472 886.901 101.139 891.012 101.139Z" fill="#0F95F7"/>
        </svg>

    .hero__container
        .hero__hero-swiper.hero-swiper
            .swiper-wrapper
                .swiper-slide
                    .hero__title
                        | Ясность нашей позиции очевидна
                    .hero__description
                        | Реализация намеченных плановых заданий играет
                        | определяющее значение для укрепления моральных
                        | ценностей.
                    .hero__btn.btn.btn_registration
                        | Зарегестрироваться
                .swiper-slide
                    .hero__title
                        | Ясность нашей позиции очевидна
                    .hero__description
                        | Реализация намеченных плановых заданий играет
                        | определяющее значение для укрепления моральных
                        | ценностей.
                    .hero__btn.btn.btn_registration
                        | Зарегестрироваться
                .swiper-slide
                    .hero__title
                        | Ясность нашей позиции очевидна
                    .hero__description
                        | Реализация намеченных плановых заданий играет
                        | определяющее значение для укрепления моральных
                        | ценностей.
                    .hero__btn.btn.btn_registration
                        | Зарегестрироваться
                .swiper-slide
                    .hero__title
                        | Ясность нашей позиции очевидна
                    .hero__description
                        | Реализация намеченных плановых заданий играет
                        | определяющее значение для укрепления моральных
                        | ценностей.
                    .hero__btn.btn.btn_registration
                        | Зарегестрироваться
            .hero-swiper__pagination